.contact {
  height: 794.38px;
  box-sizing: border-box;

  padding: 35px 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--bg-dark-color);
}

.contact__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;

  width: 298px;

  margin-top: 60px;
}

.contact__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 65px;

  margin-top: 60px;
}

.contact__form {
  width: 400.72px;
  height: 430.38px;

  padding: 26px 41px;
  box-sizing: border-box;

  box-shadow: 0px 8.49823px 12.4205px rgba(0, 0, 0, 0.07);
  border-radius: 13.0742px;

  background-color: var(--bg-light-color);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 31px;

  transition: transform 0.2s ease;
}

.contact__form:hover {
  transform: scale(1.1);
}

.contact__form__input {
  width: 318.72px;
  height: 35.84px;

  padding: 19px 13.0742px;

  background: #f5f5f5;

  border: 1px solid #e8e8e8;
  border-radius: 39px;
}

.contact__form__textarea {
  width: 318.72px;
  height: 126.17px;
  resize: none;

  padding: 15.0353px 13.0742px;
  box-sizing: border-box;

  background: #f5f5f5;
  border: 0.65371px solid #e8e8e8;
}

.contact__form__btn {
  width: 94.79px;
  height: 34.53px;
}

.contact__info {
  display: flex;
  flex-direction: column;
  gap: 25px;

  width: 264px;
}

.contact__info__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20.67px;
  flex-wrap: nowrap;

  transition: transform 0.2s ease;
}

.contact__info__row:hover {
  transform: scale(1.1);
}

.contact__info__last-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 33px;

  margin-top: 77px;
}

.contact__info__last-row > img {
  transition: transform 0.2s ease;
}

.contact__info__last-row > img:hover {
  transform: scale(1.5);
}
