/*------------------------------------*\
  #HEADER CSS
\*------------------------------------*/

.header {
  position: relative;
  z-index: 9999;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  box-sizing: border-box;
  padding: 25px;
  margin-top: 20px;
  width: 100%;
}

/*------------------------------------*\
  #NAVBAR CSS
\*------------------------------------*/

.header__navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar__right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 41px;
}

.navbar__menu__item {
  font-weight: var(--fw-light);
  text-decoration: none;
}

.navbar__menu__item:hover {
  text-decoration: underline;
}

/*------------------------------------*\
  #SUBCRIBE FORM CSS
\*------------------------------------*/

.subscribe-form {
  display: flex;
  flex-wrap: nowrap;
  gap: 12px;

  margin-left: 54px;
}

.subscribe-form__input {
  box-sizing: border-box;
  width: 273px;
  padding: 19px 39px;
}

.subscribe-form__subcribe-btn {
  width: 141px;
  height: 54px;
}
