/*------------------------------------*\
  #SECOND HERO CSS
\*------------------------------------*/

.second-hero {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 1271px;
}

.second-hero__title {
  margin-top: 80px;
  padding: 30px;
  width: 298px;

  display: flex;
  flex-direction: column;
  gap: 27px;
}

.second-hero__btn {
  width: 236px;
  height: 65px;

  margin: 70px 0px 110px;
}

.second-hero__img {
  width: 1033.26px;
  height: 577.74px;

  margin-bottom: 130px;

  transition: transform 0.2s ease;
}

.second-hero__img:hover {
  transform: scale(1.05);
}
