.testimonial {
  width: 100%;
  height: 759px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial__title {
  margin-top: 111px;
}

.testimonial__logo {
  margin-top: 90px;

  width: 229px;
  height: 46px;
}

.testimonial__message {
  margin-top: 60px;

  width: 683px;
}

.testimonial__client {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-top: 60px;
  margin-bottom: 80px;

  width: 152px;
}

.testimonial__client__avatar {
  width: 50px;
  height: 50px;

  border-radius: 50%;
}

.testimonial__client__information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.testimonial__btn {
  width: 280px;
  height: 65px;
}
