/*------------------------------------*\
  #FEATURE CSS
\*------------------------------------*/

.feature {
  position: relative;
  top: 180px;

  display: flex;
  flex-direction: column;
}

.feature__pre-title {
  margin-top: 81px;
}

.feature__title {
  margin-top: 17px;
}

.feature__sub-title {
  margin: 27px auto 0;
  width: 298px;
  height: 40px;
}
